.directory {
  border-radius: 0.5rem;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: opacity 0.3s ease;
}

.header:hover {
  opacity: 0.8;
}

.title {
  font-weight: 600;
  color: var(--text-color);
  margin-left: 0.75rem;
  font-size: 14px;
}

.items {
  margin-left: 1rem;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  padding-left: 1rem;
}

.items.expanded {
  height: auto;
}