---
import ExperienceCard from "@/components/cards/ExperienceCard.astro"
import AutoGrid from "@/components/box/AutoGrid.astro"
import Titles from "@/components/text/Titles.astro"
import { EXPERIENCE } from "@/data/experience"
import { SECTIONS } from "@/constants"
---

<section id={SECTIONS.EXPERIENCE}>
	<Titles title="Experiencia" subtitle="Mi experiencia laboral" />

	<AutoGrid>
		{EXPERIENCE.map((item) => <ExperienceCard data={item} />)}
	</AutoGrid>
</section>
