---
import ExperienceCard from "@/components/cards/ExperienceCard.astro"
import Titles from "@/components/text/Titles.astro"
import { EXPERIENCE } from "@/data/experience"
import { SECTIONS } from "@/constants"
---

<section id={SECTIONS.EXPERIENCE}>
	<Titles title="Experiencia" subtitle="Responsabilidades reales, decisiones técnicas y resultados de producto." />

	<div class="experience-list">
		{EXPERIENCE.map((item) => <ExperienceCard data={item} />)}
	</div>
</section>

<style>
	.experience-list {
		display: flex;
		flex-direction: column;
	}
</style>
