---
export interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<span class:list={[className]}>
	<slot />
</span>

<style>
	span {
		background-color: var(--constras-color);
		padding: 0.25rem 0.5rem;
		border-radius: 4px;
		font-size: 0.9rem;
		max-width: fit-content;
		height: fit-content;
	}
</style>
