---
export interface Props {
	class?: string
}

const { class: className } = Astro.props
---

<span class:list={[className]}>
	<slot />
</span>

<style>
	span {
		background-color: var(--constras-color);
		color: var(--text-color);
		padding: 0.3rem 0.6rem;
		border-radius: 4px;
		font-size: 0.78rem;
		font-weight: 600;
		max-width: fit-content;
		height: fit-content;
	}
</style>
